
body {
    font-size: 0;
    margin: 0;
}

img {
    width: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gradient_text {
    display: inline-block;
    font-size: 48px;
    font-weight: 800;
    background: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.gradient_background {
    display: block;
    width: 100%;
}

.gradient_background > div {
    display: inline-block;
    width: 50%;
}